
<body class="session">

<div class=" container card-panel" style="margin-bottom:100px; margin-top:100px; height: 400px; width: 400px;">
  <div class="form">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, :class=> "input-field ",:placeholder => "Email", :style =>"margin-top: 20%;", :autocomplete => :off, :autofocus => true, :required => true %>
      <%= f.password_field :password, :class=> "input-field", :placeholder => "Password", :style=> "margin-top: 10%", :autocomplete => :off,:required => true %>
      <%= f.submit "Log In", class: "waves-effect waves-light btn grey darken-3 col-lg-12 col-xs-12", :style => " margin-top: 10%; margin-left: auto; margin-right: auto; display: block" %>
      <div class="text-center red-text">
         <%= flash[:danger] %>
      </div>
    <% end %>

  </div>

</div>

</body>
