<style media="screen">

nav {
  z-index: 1;
}

.hide-on-med-and-down a:visited, .hide-on-med-and-down a:active {
  text-decoration: none;
}
.hide-on-med-and-down a:hover{
  color: #ff9800;
  text-decoration: none;
}

 .side-nav a:visited,  .side-nav a:hover, .side-nav a:active, .side-nav a {
  color: white;
  text-decoration: none;
  font-size: 13px;

}
.user-font-size{
  font-size: 12px;
  color: black;
}

.navbar-nagivation-font {
  color: black ;
  font-size: 17px;
  font-family:sans-serif;;

}

.title {
  color: #ff9800 ;
  font-size: 30px;
  padding-left: 20px;
  font-weight: 900;
  text-decoration: none !important;
  font-family: cursive;


}
.side-nagivation-font{
  color: black !important;
}


nav ul li:hover{
  background-color: white;

}



</style>

<div class="navbar-fixed">
  <nav>

      <div class="nav-wrapper white" style="">
        <%= link_to "CloseToMe", root_url, class: "title"%>




        <a  data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" style="padding-left: 10px; color:black;" ></i></a>

        <ul class="right hide-on-med-and-down" style="width: 1100px;">
          <% if current_user %>
            <div class="row col-lg-12">
              <ul>
                <li class="col l2"><%= link_to "Home",root_url, class: "navbar-nagivation-font  "%></li>
                <li class="col l2"><%= link_to "Food",'food', class: "navbar-nagivation-font  "%></li>
                <li class="col l2"><%= link_to "NightLife",'night', class: "navbar-nagivation-font  "%></li>
                <li class="col l2"><%= link_to "Lodging",'lodging', class: "navbar-nagivation-font "%></li>
                <li class="col l2"><%= link_to "Mall",'mall', class: "navbar-nagivation-font"%></li>
                <li class="col l1 user-font-size"><%= current_user.name %></li>
                <li class="col l1"><%= link_to "Log Out", logout_path,  method: "delete",class: "user-font-size" %></li>

              </ul>

            </div>

            <% else %>
            <div class="row col-lg-12">
              <ul >
                  <li class="col l2"><%= link_to "Home",root_url, class: "navbar-nagivation-font  "%></li>
                  <li class="col l2"><%= link_to "Food",'food', class: "navbar-nagivation-font  "%></li>
                  <li class="col l2"><%= link_to "NightLife",'night', class: "navbar-nagivation-font  "%></li>
                  <li class="col l2"><%= link_to "Lodging",'lodging', class: "navbar-nagivation-font "%></li>
                  <li class="col l2"><%= link_to "Mall",'mall', class: "navbar-nagivation-font"%></li>
                  <li class="col l1"><%= link_to "Log In", 'login', class: "user-font-size " %></li>
                  <li class="col l1"><%= link_to "Register", 'signup', class: "user-font-size" %></li>
              </ul>
            </div>
           <% end %>
        </ul>

        <ul class="side-nav white" id="mobile-demo">
          <%= link_to "CloseToMe", root_url, class: "title"%>

          <% if current_user %>
            <ul>
              <li class="col l1 side-nagivation-font"><%= current_user.name %></li>
              <li class="col l1"><%= link_to "Log Out", logout_path,  method: "delete",class: "side-nagivation-font" %></li>
              <br>

              <li class="col l2"><%= link_to "Home",root_url, class: "side-nagivation-font  "%></li>
              <li class="col l2"><%= link_to "Food",'food', class: "side-nagivation-font  "%></li>
              <li class="col l2"><%= link_to "NightLife",'night', class: "side-nagivation-font  "%></li>
              <li class="col l2"><%= link_to "Lodging",'lodging', class: "side-nagivation-font "%></li>
              <li class="col l2"><%= link_to "Mall",'mall', class: "side-nagivation-font"%></li>


            </ul>

            <% else %>

              <ul >
                <li class="col l1"><%= link_to "Log In", 'login', class: "side-nagivation-font " %></li>
                <li class="col l1"><%= link_to "Register", 'signup', class: "side-nagivation-font" %></li>
                <br>
                  <li class="col l2"><%= link_to "Food",'food', class: "side-nagivation-font  "%></li>
                  <li class="col l2"><%= link_to "NightLife",'night', class: "side-nagivation-font  "%></li>
                  <li class="col l2"><%= link_to "Lodging",'lodging', class: "side-nagivation-font "%></li>
                  <li class="col l2"><%= link_to "Mall",'mall', class: "side-nagivation-font"%></li>

              </ul>
           <% end %>
        </ul>

      </div>

   </nav>
 </div>
